

<title>Login</title>


<!-- Inicio cabecera -->
<div class="head_web" id="head-web"style="background: none;">
    <div class="container_head" id="container-head">
        <a href="https://hidrasmart-mainselector.azurewebsites.net/">
            <img class="head_image_logo" src = "https://cdn.jsdelivr.net/gh/HidralabIyD/HidraSmart-CommonFiles@latest/images/logo_water_texture.png">
        </a>
        <a class="head_image_services_container" href="/">
            <img id="head-image-services" class="head_image_services" src = "">
        </a>
        </div>
    </div>
</div>
<!-- Fin cabecera -->
<!-- Inicio label Inicio de Sesión-->
<h2 class="titulo_seccion" id="titulo-seccion">
    <p id="section-title">Inicio de Sesión</p>
</h2>
<!-- Fin label Inicio de Sesión-->
